$gray-light: #acb5be !default;
$light-gray: #eee;
$lighter-gray: #ddd;
$charcoal: #555;
$darkest-gray: #333;
$almost-black: #161616;
$box-shadow: 0 4px 9.6px 0.4px rgba(14, 14, 14, 0.5);
$font-size-base: 1.1em;
$main-color: #2787ff;
