$gray-light: #acb5be !default;
$light-gray: #eee;
$lighter-gray: #ddd;
$charcoal: #3a9e3e;
$darkest-gray: #333;
$almost-black: #161616;
$box-shadow: 0 4px 9.6px 0.4px rgba(14, 14, 14, 0.5);
$font-size-base: 1.1em;
$main-color: #3754EF;
$main-grey: #474554;
$main-light: #ACA9BB;
$main-green-d: #008250;
$main-green-l: #00BB81;
$gradient-nav: linear-gradient(to right, #00BB81 0%, rgb(136, 141, 239) 100%);

$height-nav: 60px;
$football-bg-top-height: 35vh;
