$gray-light: #acb5be !default;
$light-gray: #eee;
$lighter-gray: #ddd;
$gold: #ffdd00;
$charcoal: #3a9e3e;
$darkest-gray: #333;
$almost-black: #161616;
$box-shadow: 0 4px 9.6px 0.4px rgba(14, 14, 14, 0.5);
$font-size-base: 1.1em;
$main-color: #007382;
$main-grey: #474554;
$main-light: #ACA9BB;
$main-green-d: #008250;
$main-green-l: #00BB81;
$gradient-nav: linear-gradient(to right, #00BB81 0%, rgb(136, 141, 239) 100%);

$height-nav: 60px;
$football-bg-top-height: 35vh;
$football-element-bg: #4528a7;
$football-element-additional-bg: #8528a7;
$football-element-done-bg: #8aa728;
$football-player-score-bg: #ef4a2e;
$football-table-element-size: 3em;
$football_ball_size: 5vw;
$football_ball_animate_size: 3vw;
$football_ball_position_left: 17%;
$football_ball_position_animate_left: 57%;
$football_ball_position_bottom: 3vh;
$football_ball_position_animate_bottom: 15vh;
