@import "_constants";
@import "custom";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  min-height: 91vh;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 32px;
  font-size: 1.1em;
  text-indent: 1.5em;
  letter-spacing: 0.05em;
  position: relative;
  max-width: 1200px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

#nav {
  display: flex;
  position: absolute;
  //max-width: inherit;
  //margin-left: auto;
  //margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  align-items: center;
  background-image: $gradient-nav;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  a {
    font-weight: bold;
  }

  .toggles {
    display: flex;
    align-items: center;
    width: 35%;
    justify-content: space-evenly;
  }
}

.dropdown-item {
  cursor: pointer;
  a {
    text-decoration: none;
  }
}

.toasted {
  font-size: 3em;
  border-radius: 25px;
  padding-left: 1em;
  padding-right: 1em;
  i {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
}

.error-toastr {
  justify-content: center !important;
  background: #ea5252e6 !important;
  box-shadow: 0 4px 9.6px 0.4px rgba(255, 203, 9, 0.62) !important;
  i {
    color: #fff500 !important;
  }
}

.success-toastr {
  background: rgba(104, 234, 123, 0.9) !important;
  box-shadow: 0 4px 9.6px 0.4px rgba(5, 255, 176, 0.5) !important;
  i {
    color: $charcoal !important;
  }
}

.input-group {
  @extend .ti-0;
}

.custom-title {
  font-family: 'Pacifico', 'Permanent Marker', cursive;
  //text-shadow: 1px 4px 6px #c1c313, 0 0 0 #ef962e, 1px 4px 6px #f00;
  color: rgba(57, 57, 58, 0.81);
  font-size: 2.5em;
  text-decoration: underline;

  &__wrapper {
    background: rgba(225, 225, 225, 1.75);
    border-radius: 35px;
    padding: 35px;
    border: 1px solid;
    box-shadow: inset 1px 1px 10px 4px;
  }
}

.datepicker {
  @extend .ti-0;
  width: max-content;

  div:nth-of-type {
    width: max-content;
  }
  input {
    border-radius: 25px;
    text-align: center;
  }
  .vdp-datepicker__calendar {
    margin-left: 5px;
  }
}

body {
  font-size: $font-size-base;
}

input {
  padding: 7px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  &:focus {
    outline: none;
  }
}

label {
  font-weight: 700;
}
