@import "_constants";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 67px;
  min-height: 91vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav {
  display: flex;
  align-items: center;
  background-image: $gradient-nav;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  a {
    font-weight: bold;
  }

  .toggles {
    display: flex;
    align-items: center;
    width: 35%;
    justify-content: space-evenly;
  }
}

.dropdown-item {
  cursor: pointer;
  a {
    text-decoration: none;
  }
}

.toasted {
  font-size: 3em;
  border-radius: 25px;
  padding-left: 1em;
  padding-right: 1em;
  i {
    padding-right: 0.5em;
  }
}

.error-toastr {
  background: #ea5252e6 !important;
  box-shadow: 0 4px 9.6px 0.4px #efff0080 !important;
  i {
    color: #932621 !important;
  }
}

.success-toastr {
  background: rgba(104, 234, 123, 0.9) !important;
  box-shadow: 0 4px 9.6px 0.4px rgba(5, 255, 176, 0.5) !important;
  i {
    color: $charcoal !important;
  }
}

body {
  font-size: $font-size-base;
}

input {
  padding: 7px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  &:focus {
    outline: none;
  }
}

label {
  font-weight: 700;
}
