.wp {
  &-300 {
    max-width: 300px;
  }
  &-max-content {
    max-width: max-content;
  }
}

.point {
  cursor: pointer;
}

.text-grey {
    &--light {
        color: $gray-light
    }
}

.border-25 {
  border-radius: 25px;
}

.text-company {
  color: $main-color;
}
