.wp {
  &-300 {
    max-width: 300px;
  }
  &-max-content {
    max-width: max-content;
  }
}

.ti-0 {
  text-indent: 0;
}

.point {
  cursor: pointer;
}

.text-grey {
    &--light {
        color: $gray-light
    }
}

.border-25 {
  border-radius: 25px;
}

.text-company {
  color: $main-color;
}

.input-helper {
  text-align: center;
  font-size: 80%;
  color: #dc3545;
}
