@import "_constants";

.football {
  position: relative;
  width: 100%;
  min-height: 95vh;
  margin-top: $height-nav;
  .row {
    min-height: 100vh;
  }
  .content {
    margin-top: $football-bg-top-height;
  }
}

.football-bg {
  height: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #ededed;
  &:before {
    content: '';
  }

  &__top {
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: $football-bg-top-height;
    background: url('./assets/football_bg_top.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center -130px;
    box-shadow: inset 0px 0px 20px 14px;

    //&::before{
    //  background-color: rgba(0, 0, 0, 0.5);
    //  content: '';
    //  display: block;
    //  height: 100%;
    //  position: absolute;
    //  width: 100%;
    //}
  }

  &__body {
    z-index: -3;
    position: absolute;
    //top: $football-bg-top-height + 25vh;
    left: 0;
    right: 0;
    bottom: 0;
    height: 65vh;
    background: url('./assets/football_bg_body_opt.png');
    background-size: cover;
    background-position: center;
  }
}

.football__ball {
  position: absolute;
  bottom: 3vh;
  left: 17vh;
  height: 5vw;
  width: 5vw;
  //background: url('./assets/football_ball.png');
  //background-size: cover;
  z-index: 5;
}

.football-title {
  position: absolute;
  left: 50%;
  top: 3vh;
  transform: translateX(-50%);
  max-height: 30vh;
}

.football-want-game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
