@import "_constants";

.football {
  position: relative;
  width: 100%;
  min-height: 95vh;
  margin-top: $height-nav;
  .row {
    min-height: 100vh;
  }
  .content {
    margin-top: $football-bg-top-height;
  }
}

.football-bg {
  height: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #ededed;
  &:before {
    content: '';
  }

  &__top {
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: $football-bg-top-height;
    background: url('./assets/football_bg_top.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center -130px;
    box-shadow: inset 0px 0px 20px 14px;
  }

  &__body {
    z-index: -3;
    position: absolute;
    //top: $football-bg-top-height + 25vh;
    left: 0;
    right: 0;
    bottom: 0;
    height: 65vh;
    background: url('./assets/football_bg_body_opt.png');
    background-size: cover;
    background-position: center;
  }
}

.football__ball {
  position: absolute;
  bottom: $football_ball_position_bottom;
  left: $football_ball_position_left;
  height: $football_ball_size;
  width: $football_ball_size;
  //background: url('./assets/football_ball.png');
  //background-size: cover;
  z-index: 5;
}

.football-title {
  position: absolute;
  left: 50%;
  top: 3vh;
  transform: translateX(-50%);
  max-height: 30vh;
}

.football-want-game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.football-players-list {
  margin-bottom: 15vh;
  @media (min-width: 992px) {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

.football-player {
  &__root {
    overflow: hidden;
    .row {
      min-height: auto;
    }
    .table-element {
      &:hover {
        background-color: mix($almost-black, $football-element-bg, 30%);
      }
    }
  }

  &__done {
    background-color: $football-element-done-bg;
  }

  @extend .ti-0;
  background-color: $football-element-bg;
  position: relative;
  font-weight: 700;
  color: $light-gray;
  line-height: $football-table-element-size;

  img {
    width: $football-table-element-size;
    height: $football-table-element-size;
  }

  .row {
    min-height: auto;
  }

  &__photo {
    border: 3px solid $lighter-gray;
    border-radius: 50%;
    &:hover {
      border: 3px solid $gold;
    }
  }

  &__username {
  }

  &__games-count {
    font-weight: 300;
  }

  &__score {
    width: $football-table-element-size;
    height: $football-table-element-size;
    position: relative;
    font-size: 0.9em;
    line-height: 1;

    img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__data {
      background-color: $football-player-score-bg;
      box-shadow: 0px 3px mix($almost-black, $football-player-score-bg, 50%);
      padding: 1px 5px;
      border-radius: 9px;
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__score-number {
    width: $football-table-element-size;
    height: $football-table-element-size;
    border-radius: 50%;
    background-color: $lighter-gray;
    background: url('assets/blue_ball.svg');
    color: $darkest-gray;
    text-align: center;
    line-height: $football-table-element-size;
  }

  &__additional {
    margin-top: -0.5em;
    background-color: $football-element-additional-bg;
    border-radius: 0 0 21px 21px;
  }
}

.football-games-list {
  @extend .football-players-list;
  .row {
    min-height: auto;
  }

  &__header {
    margin-bottom: 3em;

    span {
      font-weight: 800;
      font-size: $font-size-base + 0.1;
    }
  }
}

.football-game {
  @extend .ti-0;
  background-color: $football-element-bg;
  position: relative;
  font-weight: 700;
  color: $light-gray;
  line-height: $football-table-element-size;

  &__done {
    background-color: $football-element-done-bg;
  }

  &__root {
    overflow: hidden;
    .row {
      min-height: auto;
    }
    .table-element {
      &:hover {
        background-color: mix($almost-black, $football-element-bg, 30%);
      }
    }
  }

  &__additional {
    margin-top: -0.5em;
    background-color: $football-element-additional-bg;
    border-radius: 0 0 21px 21px;
  }
}

.showDetail-enter-active {
  animation: showDetail 0.5s linear;
}
.showDetail-leave-active {
  animation: showDetail 0.3s linear reverse;
}

.selectTable-animate {
  animation: selectTable 0.7s linear;
}

@keyframes showDetail {
  0% {
    transform: translate(0, -100%)
  }
  100% {
    transform: translate(0)
  }
}

@keyframes selectTable {
  0% {
    transform: rotateY(360deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
